:root {
	--font-headline: "Lalezar";
	--font-default: "Space Mono";

	--bg-root: #000;
	--bg-default: #0c0c0ccc;
	--bg-higher: #151515cc;
	--bg-highest: #343434cc;

	--fg-default: #fff;
	--fg-dimmer: #ccc;
	--fg-dimmest: #aaa;

	--blur-purple: #4d27e1;
	--blur-red: #d15151;
	--blur-green: #66edbc;
}

* {
	box-sizing: border-box;
	font-family: var(--font-default);
}

html,
body {
	margin: 0;
	min-height: 100vh;
	background: var(--bg-root);
	color: var(--fg-default);
	overflow-x: hidden;
}

body {
	position: relative;
	overflow-y: hidden;
}

nav {
	display: flex;
	padding: 16px 32px;
	gap: 16px;
	align-items: center;
	border-bottom: 1px solid var(--fg-default);
	position: relative;
	z-index: 1;
}

nav .spacer {
	flex: 1;
}

nav .logo {
	width: 84px;
}

nav .title {
	font-family: var(--font-headline);
	font-size: 24px;
	margin-bottom: -6px;
	text-decoration: none;
	color: var(--fg-default);
	text-transform: uppercase;
}

nav .navigation {
	display: flex;
	gap: 16px;
}

nav .hamburger {
	width: 32px;
	height: 32px;
	color: var(--fg-default);
	padding: 8px;
	border: 2px solid var(--fg-default);
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	min-width: 32px;

	display: none;
}

nav .navigation a {
	color: var(--fg-dimmer);
	text-decoration: none;
}

nav .navigation a:hover {
	color: var(--fg-default);
}

main {
	position: relative;
	z-index: 1;
	padding: 16px 64px;
	margin: 0 auto;
}

main .main-split {
	display: flex;
	gap: 64px;
	height: 700px;
}

main .split-text {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 24px;
}

main .split-code {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main .title {
	font-size: 64px;
	line-height: 60px;
	font-family: var(--font-headline);
	font-weight: 400;
	margin: 0;
}

main .subtitle {
	color: var(--fg-dimmer);
	font-size: 20px;
	font-weight: 100;
	margin: 0;
}

main .code-examples {
	display: flex;
	flex-direction: column;
	height: 415px;
	width: 535px;
}

main .example-code {
	flex: 1;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	border-top-right-radius: 12px;
	background: var(--bg-default);
	padding: 16px;
	height: 370px;
	font-size: 20px;
	overflow: hidden;
}

.example-code pre {
	margin: 0;
}

main .example-list {
	display: flex;
}

.example-list .example {
	padding: 8px 16px;
	font-size: 20px;
	background: var(--bg-higher);
	user-select: none;
	color: var(--fg-dimmer);
	cursor: pointer;
}

.example-list .example.selected {
	background: var(--bg-highest);
}

.example-list .example:hover {
	color: var(--fg-default);
}

.example-list .example:first-child {
	border-top-left-radius: 12px;
}

.example-list .example:last-child {
	border-top-right-radius: 12px;
}

main .card-container {
	display: flex;
	width: 100%;
	padding-bottom: 96px;
}

.card-container .card {
	width: 535px;
	background: var(--bg-default);
	border-radius: 12px;
	padding: 32px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.card-container > * {
	flex: 1;
}

.card-container .card-split {
	display: flex;
	justify-content: flex-end;
}

.card-container.card-right .card-split {
	justify-content: flex-start;
}

.card .card-title,
.card .card-content {
	margin: 0;
}

.card .card-title {
	font-family: var(--font-headline);
	font-weight: 400;
	font-size: 36px;
	margin-top: -8px;
	margin-bottom: -20px;
}

.card .card-content {
	font-size: 20px;
	text-align: justify;
}

button {
	background: var(--fg-dimmer);
	color: var(--bg-root);
	text-transform: uppercase;
	padding: 12px 0;
	border-radius: 12px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	border: 4px solid transparent;
}

button:hover {
	background: var(--fg-default);
}

button:active {
	background: linear-gradient(var(--fg-default), var(--fg-default)) padding-box,
		linear-gradient(
				90deg,
				var(--blur-purple),
				var(--blur-green),
				var(--blur-red)
			)
			border-box;

	animation: grad-border 2s linear infinite;
}

footer {
	border-top: 1px solid var(--fg-default);
	height: 64px;
	display: flex;
	align-items: center;
	padding: 0 32px;
	font-size: 16px;
}

footer .tagline {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	line-clamp: 1;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
	max-height: 1.5rem;
	word-break: break-all;
	color: var(--fg-dimmest);
}

footer .copyright {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	min-width: 240px;
}

@media screen and (max-width: 1215px) {
	main .main-split {
		flex-direction: column;
		margin-bottom: 64px;
		align-items: center;
		padding-top: 64px;
		padding-bottom: 32px;
		height: unset;
	}

	main .split-code {
		width: 100%;
	}

	.split-code .code-examples {
		width: 100%;
	}

	.card-container .spacer {
		display: none;
	}

	.card-container .card {
		flex: 1;
		width: unset;
	}
}

@media screen and (max-width: 455px) {
	.code-examples .example-code {
		border-top-right-radius: 0;
	}
}

@media screen and (max-width: 450px) {
	main {
		padding: 16px;
	}
}

@media screen and (max-width: 560px) {
	nav .hamburger {
		display: flex;
	}

	nav .navigation {
		display: none;
	}
}

.blur-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	filter: blur(100px);
	pointer-events: none;
	overflow: hidden;
}

.blur-sphere {
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 100000vw;
}

.blur-sphere-l {
	position: absolute;
	width: 400px;
	height: 400px;
	border-radius: 100000vw;
}

.blur-sphere-xl {
	position: absolute;
	width: 550px;
	height: 550px;
	border-radius: 100000vw;
}
